{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un utilisateur</title>
    <link rel="stylesheet" href="{% static 'eleve/CSS/styles.css' %}">
</head>
<body>
    <div class="sidebar">
        <h2>Mon Etab</h2>
        <hr>
        <ul>
            <li class="active">
                <a href="{% url 'dashboad'%}"><i class="fas fa-tachometer-alt"></i> Tableau de bord</a>
            </li>
            <li>
                <a href="{% url 'eleve'%}"><i class="fas fa-user-graduate"></i> Élèves</a>
            </li>
            <li>
                <a href="{% url 'professeurs'%}"><i class="fas fa-chalkboard-teacher"></i> Professeurs</a>
            </li>
            <li>
                <a href="{% url 'utilisateurs'%}"><i class="fas fa-chart-line"></i> Utilisateurs</a>
            </li>
            <li>
                <a href="{% url 'rapport'%}"><i class="fas fa-chart-line"></i> Rapport</a>
            </li>
        </ul>
        <hr style="margin-top:270px;">
        <ul>
            <li>
                <a href="{% url 'index'%}"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
            </li>
        </ul>
    </div>
     <div class="content">
            <h1>Rapport</h1>

            
            <div class="form-group">
                <label for="classe">Sélectionner une option</label>
                <select id="classe" name="classe">
                    <option value="6eme">Liste des élèves</option>
                    <option value="5eme">liste des professeurs</option>
                    <option value="4eme">liste des utilisateurs</option>
                   
                </select>
            </div>


            <div class="form-actions">
                <button class="btn-cancel" onclick="confirmCancel()">Générer format pdf</button>
                <button class="btn-save">Générer format excel</button>
            </div>
        </div>
</body>